body


{
        margin: 0;
        padding: 0;
        border: 0;
    }


#Mis-trabajos 

{
background-color: black;

}
#Contactame {

    background-color: rgb(0, 0, 0);
    font-style: oblique;
    
    
}


#Acerca-de-mi {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
   
    


}

